@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]:focus {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #969696;
  height: 2px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #f1c40e; /* Change this to your desired color */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  background: #f1c40e; /* Change this to your desired color */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
